{% extends 'layouts/app.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Forgot Password</h2>

        {% if form.non_field_errors %}
        <small class="text-danger">
            {{ form.non_field_errors.as_ul }}
        </small>
        {% endif %}

        <form method="POST" action="{% url 'forgot_password' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="email" name="{{ form.email.name }}" class="form-control" value="{{ form.email.value }}" />
                {% if form.email.errors %}
                <span class="text-danger">{{ form.email.errors }}</span>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-dark">Reset Password</button>

            <a href="{% url 'login' %}" class="btn btn-default">Back to Login</a>
        </form>
    </div>
</div>

{% endblock %}
